@using System.Data;
@using csharpplaylist.App_Code.csharp;

@{
    songMethods songMethods = new songMethods();

    Session["songmethods"] = songMethods;

    DataSet ds = songMethods.GetPlaylist("playlist.json");

    if (IsPost)
    {
        songMethods.DeleteSong(Request.Form["verwijdermij"]);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <script>
        var globalid = null;
        function getGlobalId(idFromTable, title) {
            globalid = idFromTable;
            document.getElementById("verwijdermij").value = globalid;
            document.getElementById("vraagid").innerHTML = "Are you sure you want to delete " + title + "?";
        }
    </script>
    <div id="dialog" class="modal" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Song</h5>
                    <button type="button" class="close" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p id="vraagid"></p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="">
                        <button type="button" id="dialogClose" class="btn btn-secondary">Close</button>
                        <input type="hidden" id="verwijdermij" name="verwijdermij" />
                        <input type="submit" class="btn btn-danger" value="Delete Song" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <header class="header toast-header">
        <h1 class="title">Playlist</h1>
    </header>
    <hr class="headerhr" />
    <main>
        <div class="div-table">
            <div class="musicadd">
                <a class="musicaddbtn btn btn-success" href="~/Pages/add.cshtml">
                    <i class="fas fa-plus"></i> Add music
                </a>
            </div>
            <table class="table table-striped" style="width:100%" id="songTable" data-order='[[ 2, "asc" ]]' data-page-length='6'>
                <thead>
                    <tr class="tablethead">
                        <th scope="col">Play</th>
                        <th scope="col">Nummer</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dr in ds.Tables["song"].Rows)
                    {
                        <tr class="song">
                            <td>
                                <audio controls>
                                    <source src="@dr["file"]" type='audio/mpeg'>
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                            <td>@dr["title"]</td>
                            <td>@dr["artist"]</td>
                            <td><a class="deletebtn btnDelete btn btn-danger" onclick="getGlobalId(idFromTable='@dr["id"]', title='@dr["title"]')"><i class='fa fa-trash' style="color: white"></i></a> <a class=" editbtn btn btn-succes" href="~/Pages/edit.cshtml?id=@dr["id"]"><i class="fas fa-edit"></i></a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </main>
    <footer class="page-footer font-small fixed-bottom">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright Timo van Rooijen & Mart Rietdijk
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(".btnDelete").click(function () {
            $("#dialog").fadeIn();
        });
        $("#dialogClose").click(function () {
            $("#dialog").fadeOut();
        });
        $(document).ready(function () {
            $('#songTable').DataTable({
                "lengthMenu": [[1,3, 5, 6], [1,3, 5, "Max"]],
                "columnDefs": [
                    { "orderable": false, "targets": [0, 3] }
                ]
            });
        });
    </script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>
